body{
    font-family: HelveticaNeueLTStd,Helvetica Neue,Helvetica,Segoe UI,Roboto,TBUDRGothic Std,tbudrgothic-std,Arial,sans-serif !important;
}
#jobcontent{
    background-color: #f6f6f6;
}

.banner-img{
    width: 100%;
}
.content-img{
    position: absolute;
    height: 443px;
    width: auto;
    z-index: 1;
    right: 0px;
    
}
.divider{
    font-size: 10px;
    color: #ff4c6e;
    padding: 4px;
}
.content-img2{
    position: absolute;
    height: 443px;
    width: auto;
    z-index: 1;
   
    
}
.content-img3{
    position: absolute;
    height: 443px;
    width: auto;
    z-index: 1;
    right: -75px;
    top: -75px;
    
}
.content-header{
    font-size: 20px;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    color: #333;

}
.content-header:hover{
    font-size: 20px;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    color:#ff4c6e ;

}
.cust-ic{
    color:#ff4c6e ;
    font-size: 27px!important;
    padding: 9px;

}
.content2-div{
   
    margin-left: 69px;
    padding-bottom: 65px;
    padding-top: 65px;
    
}
.content3-div{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 18%;
    
}
.content-div{
    padding: 60px;

}
.gplus{
    font-size: 12px;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    color:#ff4c6e ;
}
.caro-icon{
    font-size: 80px!important;
    color: gray;
}
.sm-header{
    font-size: 35px;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    padding: 45px;
}
.jumbotron {
    padding: 0rem 0rem!important;
    margin-bottom: 0rem!important;
    background-color: white!important;
}
.adver-content{
    border: 2px solid gray;
}
.title{
    font-size: 40px;
    line-height: 35px;
    font-weight: 900;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
}
.add-img{
    width: 100%;
}
.adver-margin{
    margin-bottom: 9%;
}
.f-content{
    color:#ababab;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding: 15px;
}
.fo-content{
  font-size: 10px;
  padding: 5px;
}
.footer-div{
    margin-top: 27px;
    margin-bottom: 30px;
}
.subscribe-btn{
    width: 100%!important;
    padding: 14px 28px!important;
    font-size: 16px!important;
    font-weight: 300!important;
    color: white!important;
    background: #ff4c6e!important;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    border-bottom-right-radius: 20px!important;
    margin-top: 4px;
}
.sign-header{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 26px;
    line-height: 28.07px;
    letter-spacing: -1.04px
}
.inpute-des{
    text-align: center;
}
.card-cus{
    padding: 40px!important;
}
.sign-body{
    font-weight: 300;
    font-size: 15px;
    line-height: 17.42px;
    letter-spacing: -.15px;
    color: #1a1a1a;
    padding-top: 10px;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
}
.card-top{
   border-top-left-radius: 25px!important;
}
.topic li{
    float: left;
}
.essential-list-item{
    display: inline-block;
}
.content-pos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.essential-header{
    font-weight: 800!important;
    font-size: 30px!important;
    line-height: 30px!important;
    letter-spacing: -1.2px!important;
    margin-top: 0!important;
    margin-bottom: 30px!important;
}
.blog-title{
    color: #fff;
    font-size: 16px;
}
.blog-para{
    color: #fff;
    font-size: 36px;
    line-height: 34px;
}
.items{
    font-size: 17px;
   color: #aaa;
   font-weight: 700;
   font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
   text-decoration: none;
}
.items:hover{
    font-size: 17px;
   color:  #ff4c6e;
   font-weight: 700;
   font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
   text-decoration: none;
}
.circle{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #aaa;
    margin: 2px;

}
.link-divider{
    display:inline-block;
    font-size: 50px;
    color: #aaa;
}
.ul-des{
 line-height: 1.5;
}
.img-fullwidth{
    width: 100%;
    height: 100%;
}
.nav-custom{
    color: #8f8f8f!important;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 200;
}
.pink-title{
    color:#ff4c6e ;
}
.common-btn{
    border: 1px solid #ff4c6e!important;
    border-radius: 20px!important;
    padding: 8px 25px!important;
    letter-spacing: .16px!important;
    line-height: 1.2!important;
    font-size: 16px!important;
    font-weight: 300!important;
    color: #383838!important;
    background: transparent!important;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;

}
.common-btn:hover{
    border: 2px solid #ff4c6e!important;
    border-radius: 20px!important;
    padding: 8px 25px!important;
    letter-spacing: .16px!important;
    line-height: 1.2!important;
    font-size: 16px!important;
    font-weight: 300!important;
    color: white!important;
    background: #ff4c6e!important;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;

}
.common-btn1{
    border: 1px solid #ff4c6e!important;
    border-radius: 20px!important;
    padding: 8px 25px!important;
    letter-spacing: .16px!important;
    line-height: 1.2!important;
    font-size: 16px!important;
    font-weight: 300!important;
    color: #383838!important;
    background: transparent!important;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;

}
.common-btn1:hover{
    border: 2px solid #ff4c6e!important;
    border-radius: 20px!important;
    padding: 8px 25px!important;
    letter-spacing: .16px!important;
    line-height: 1.2!important;
    font-size: 16px!important;
    font-weight: 300!important;
    color: white!important;
    background: #ff4c6e!important;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;

}
.gray-btn{
    border: 1px solid #adb5bd!important;
    border-radius: 20px!important;
    padding: 8px 28px!important;
    letter-spacing: .16px!important;
    line-height: 1.2!important;
    font-size: 12px!important;
    font-weight: 300!important;
    color: #383838!important;
    background: transparent!important;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;

}
.adver{
    font-size: 12px;
    line-height: 16.9px;
    letter-spacing: -.2px;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
    
}
.adver-title{
    color: #333;
    font-weight: 700;
    font-family: HelveticaNeueLTStd,Helvetica Neue,Helvetica,Segoe UI,Roboto,TBUDRGothic Std,tbudrgothic-std,Arial,sans-serif;
}
.adver-body{
    color: #333;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: -.28px;
    
}
.adver-body2{
    color: #333;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: -.28px;
    padding-bottom: 3%;
    
}
.caro-img{
    width: 100%;
    height: 100%;
}
.no-border{
 border: 0px solid white!important;
}
.card-sm-title{
    color: rgb(255, 76, 110);
    font-weight: 700;
    font-size: 18px;
    padding: 9px;
    line-height: 20px;
    letter-spacing: -.28px;
}
.common-title{
    font-family: 'Helvetica Neue';
    color: #383838;
    font-size: 44px;
    line-height: 40px;
    letter-spacing: -.84px;
    font-weight: 800;
    margin-top: 13px;
    margin-bottom: 17px;
    
}
.caro-div{
    padding-left: 10%;
    padding-right: 10%;
}
.common-para{
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    color: #383838;
    margin-bottom: 1rem;
}
.pink-header{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.32px;
    color: #ff4c6e;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
}
.pyt-4{
    padding-top: 3rem;
}
.squares{
    padding-left: 25px;
    padding-right: 25px;
}
.square-part{
    position: absolute;
    /* z-index: 0; */
    margin-top: auto;
    /* top: 20%; */
    bottom: 17%;
    left: 14%;
   
}
.search-icon{
    font-size: 26px;
    padding-left: 15px;
    padding-top: 10px;
}
.img-pos{
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0) ;
}
.img-pos1{
    position: relative;
    width: 97%;
    height: 100%;
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0) ;
}
.img-pos2{
    position: relative;
    width: 103%;
    height: 100%;
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0) ;
}
.img-pos3{
    position: relative;
    width: 98.7%;
    height: 100%;
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    margin-left: -15px;
}
.item {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff;
    height: 250px;
    object-fit: cover;
}
.tag{
    font-size: 34px;
    line-height: 34px;
    letter-spacing: -1.36px;
    color: #fff;
    font-weight: 700;
}
.card-border{
    border-bottom-right-radius: 25px!important;
}
/* //////////////////////////// */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: gray;
    padding: 10px 15px;
    border: none;
  }
  .nav-margin{
      margin-left: 93%;
  }

  .img-pos:after{
    content: "";
    background-color: rgba(0,0,0,.4);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.search-txt{
    color: gray;
    padding: 6%;
}
.close-icon{
    margin-left: 94%;
    font-size: 31px !important;
    color: gray;
    margin-top: 25px;
}
#myDIV {
    width: 19%;
    height: 405px;
    padding: 10px 0;
    background-color: #fff;
    position: absolute;
    right: 9px;
    top: 1px;
    box-shadow: -2px 2px 15px rgba(0,0,0,.15);

}
.sidebar{
    margin-left: 93%;
    margin-top: 1%;
    font-size: 25px;
}
.side-cus{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.side-cus:hover{
    color: rgb(255, 76, 110);
    font-size: 20px;
    text-decoration: none;
}
  .cus-close{
    margin-left: 88%;
    color: gray;
  }
  ul{
    list-style-type: none
  }
.title-pos{
    text-align: center !important;
}
.pyt-5{
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}
.padding-5{
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}
.padding-4{
    padding: 1.5rem!important;
}
.sp-view{
    display: none;
}
.sp-ves{
    display: none;
}
.web-ves{
  display: block;
}

  @media only screen and (max-width: 767px) {
    .slick-slide img {
        width: 90%;
        border: 0px solid #fff;
        height: 250px;
        object-fit: cover;
        margin-left: 17px;
    }
    .slick-next:before, [dir=rtl] .slick-prev:before {
        margin-left: -39px;
        content: '→';
    }
    .slick-prev:before {
        content: '←';
        margin-left: 19px;
    }
    .caro-icon {
        font-size: 80px!important;
        color: gray;
        margin-bottom: 425%;
    }
    .cust-ic {
        margin-top: 8%;
        color: #ff4c6e;
        font-size: 36px!important;
        padding: 9px;
    }
      .sp-ves{
        display: block;
      }
      .web-ves{
          display: none;
      }
    .web-view{
    display: none;
    }
    .sp-view{
        display: block !important;
    }
    .gplus {
        font-size: 19px;
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
        color: #ff4c6e;
        padding-right: 20%;
        padding-left: 20%;
    }
    .fo-content {
        font-size: 10px;
        padding: 5px;
        padding-right: 31%;
        padding-left: 31%;
    }
    .padding-4{
        padding: 0rem!important;
    }
    .f-content {
        color: #ababab;
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
        font-size: 23px;
        padding: 0px 70px;
    }
    .common-btn {
        width: 80%;
        border: 1px solid #ff4c6e!important;
        border-radius: 20px!important;
        padding: 11px 75px!important;
        letter-spacing: .16px!important;
        line-height: 1.2!important;
        font-size: 16px!important;
        font-weight: 300!important;
        color: #383838!important;
        background: transparent!important;
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
        margin-bottom: 10px;
    }
      .padding-5{
        padding-bottom: 0rem!important;
        padding-top: 2rem!important;
      }
    .sm-header {
        font-size: 30px;
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
        padding: 33px;
    }
    .pyt-5{
        padding-bottom: 1rem!important;
        padding-top: 1rem!important;
    }
    .content3-div {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15%;
        padding-left: 15%;
    }
    .content-img3 {
        position: unset;
        height: 300px;
        margin-top: 16%;
        right: 0px;
        top: -75px;
    }

.content2-div {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 10%;
    text-align: center;
}
    .content-img2 {
        position: unset;
        height: 300px;
        margin-left: 14%;
    }
    .content-pos {
        margin-top: 6%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 7%;
    }
    .common-title {
        font-family: 'Helvetica Neue';
        color: #383838;
        font-size: 34px;
        line-height: 38px;
        letter-spacing: -.84px;
        font-weight: 800;
        margin-top: 13px;
        margin-bottom: 17px;
    }
    .common-para {
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
        font-size: 19px;
        line-height: 26px;
        color: #383838;
        margin-bottom: 1rem;
    }
    .content-div {
        padding: 0px;
    }
    .content-position{
        text-align: center;
        justify-content: center;
      }
    .content-img {
        position: unset;
        height: 279px;
        width: auto;
        margin-top: 14%;
    }
    .title-pos{
        text-align: left !important;
    }

    .squares {
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-pos1 {
        position: relative;
        width: 100%;
        height: 100%;
        transform: scale(1);
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    .img-pos3 {
        position: relative;
        width: 100%;
        height: 100%;
        transform: scale(1);
        -webkit-filter: blur(0);
        filter: blur(0);
        margin-left: 0;
    }
    .break br{
      display: none;
    }
    .blog-para {
        color: #fff;
        font-size: 30px;
        line-height: 34px;
    }
    .no-disply{
        display: none;
    }
    .essential-list-item {
        display: block;
    } 
    .items {
        font-size: 16px;
        color: #aaa;
        font-weight: 700;
        line-height: 25px;
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
        text-decoration: none;
    }
    .ul-des {
        line-height: 0;
        margin-top: 0;
        margin-bottom: 4px;
        padding-left: 0;
        padding-right: 0;
    }
    .sign-body {
        font-weight: 300;
        font-size: 13px;
        line-height: 17.42px;
        letter-spacing: -.15px;
        color: #1a1a1a;
        padding-top: 10px;
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    }
    .card-cus {
        padding: 20px!important;
    }
    #myDIV {
        width: 60%;
        height: 405px;
        padding: 10px 0;
        background-color: #fff;
        position: absolute;
        right: 0px;
        top: 1px;
        box-shadow: -2px 2px 15px rgba(0,0,0,.15);
    }
    #myDiv {
        width: 60%;
        height: 405px;
        padding: 10px 0;
        background-color: #fff;
        position: absolute;
        right: 0px;
        top: 1px;
        box-shadow: -2px 2px 15px rgba(0,0,0,.15);
    }
    .title {
        font-size: 33px;
        line-height: 35px;
        font-weight: 900;
        font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
        padding: 13px;
    }
    .sidebar {
        margin-left: 0;
        margin-top: 1%;
        font-size: 25px;
    }
  }
.slick-next:before, .slick-prev:before {
    font-size: 34px !important;
    color: #000 !important;
}
.slick-next, .slick-prev {
    top: 35% !important;
}
.slick-prev {
    left: -37px !important;
}